@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-theme overflow-x-hidden;
    }
}

/* button */
@utility btn {
    @apply inline-flex w-full cursor-pointer items-center justify-center gap-2 rounded-sm px-6 py-3 text-sm font-medium transition duration-300 hover:scale-105 hover:shadow-xl disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:scale-none disabled:hover:shadow-none;
}

@utility btn-primary {
    @apply bg-amber-600 text-white hover:bg-amber-700;
}

@utility btn-outline {
    @apply text-black ring-1 ring-amber-600 hover:bg-amber-600 hover:text-white dark:text-white;
}

/* input */
@utility input {
    @apply w-full rounded-md px-4 py-3 ring-1 transition-colors focus:outline-none;
}

@utility input-primary {
    @variant not-dark {
        @apply ring-gray-300 focus:ring-gray-500;
    }

    @variant dark {
        @apply ring-gray-700 focus:ring-gray-400;
    }
}

@utility input-error {
    @apply ring-red-500 focus:ring-red-600;
}

/* background */
@utility bg-theme {
    @apply transition-colors;

    @variant not-dark {
        @apply bg-white;
    }

    @variant dark {
        @apply bg-gray-900;
    }
}

@utility bg-glass {
    @apply backdrop-blur-sm transition-colors;

    @variant not-dark {
        @apply bg-white/70;
    }

    @variant dark {
        @apply bg-gray-900/70;
    }
}

/* z-index */
@utility z-99 {
    @apply z-[99];
}

/* padding */
@utility r-px {
    @apply px-4 md:px-8 lg:px-20;
}

@utility r-py {
    @apply py-12 lg:py-20;
}

/* weight and height */
@utility h-18 {
    @apply h-[4.5rem];
}

/* text */
@utility text-theme {
    @apply text-gray-500 transition-colors dark:text-gray-400;
}

/* border */
@utility border-theme {
    @apply border-gray-100 transition-colors dark:border-gray-700;
}
